.analytics {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.analytics .headerCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(145, 145, 145, 0.212);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.analytics .cardAnalytics {
    background-color: rgb(200, 224, 255);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 25px;

    background: #e0e5ec;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);

    color: #666;
}
.analytics .cardAnalytics:nth-child(2) {
    background-color: rgb(202, 255, 209);
}
.analytics .cardAnalytics:nth-child(3) {
    background-color: rgb(241, 255, 202);
}
.analytics .headerCard h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(56, 56, 56);
}
.analytics h3 {
    font-size: 50px;
    font-weight: lighter;
    color: rgba(136, 136, 136, 0.295);
}
