.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: rgba(200, 224, 255, 0.356);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 15px 10px 35px -2px rgba(194, 194, 194, 0.53);
}

.header h1 {
    padding-left: 1rem;
}

.header svg {
    padding-right: 1rem;
}
