.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: rgb(204, 226, 255);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #e1edff;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);

    color: #666;
    text-decoration: none;
    margin-bottom: 0.2rem;
}

.header h1 {
    padding-left: 1rem;
}

.header svg {
    padding-right: 1rem;
}
