.action {
    margin: 1.2rem;
    display: grid;
    flex-direction: column;
}
.action .task {
    height: 100px;
    z-index: -1;

    background-color: rgb(92, 92, 119);
}
.action .progress {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}
.action .progress h2 {
    margin: 0;
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
}
.action .progress h1 {
    margin: 0;
    align-self: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(75, 75, 75);
    font-size: 1.5rem;
}

.action .actionCategory {
    display: flex;
    flex-direction: column;
}
.action .actionCategory h2 {
    font-size: 15px;
}

.action .container {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
}
.action .container label {
    margin-left: 6px;
}
.action .container input {
    height: 20px;
    width: 20px;
}
