.action {
    margin: 1.2rem;
    overflow-y: auto;
    height: 100%;
}

.action .actionCategory {
    display: flex;
    flex-direction: column;
}
.action .actionCategory h2 {
    font-size: 15px;
}

.action .container {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
}
.action .container label {
    margin-left: 6px;
}
.action .container input {
    height: 20px;
    width: 20px;
}
