.nav {
    background-color: rgba(187, 214, 250, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 15px -10px 35px -2px rgba(214, 214, 214, 0.53);
}

.nav ul {
    display: flex;
}

.nav a {
    list-style: none;
    text-decoration: none;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(32, 32, 32) 4px solid;
    width: 80px;
    height: 70px;
}

.nav a h2,
path {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 3px;
}
